h1{
    margin: 0;
    color:rgb(255, 255, 255)
}
p{
    margin: 0;
    font-size:20px;
}
body{
    margin: 0;
}
a{
    font-size: 20px;
}
header{
    padding-bottom: 20px;
    background-color:rgb(244, 79, 79);
    text-align: center;
}
main{
    padding:10px;
}
#parent{
    display: flex;
}
.contents{
    justify-content: space-around;
    border: 3px solid rgb(238, 204, 204);
    flex-basic:25%;
}